.text-center {
  text-align: center;
}

.text-huge {
  font-size: var(--text-3xl);
}

@media screen and (max-width: 768px) {
  font-size: var(--text-4xl);
}

.text-black {
  color: var(--black);
}

.fill-current {
  fill: var(--black);
}

.block {
  display: block;
}
